body{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 30px;
}
.name-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
section{
    height: 450px;
    padding-top: 5px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    padding: 12px 18px;
    border-radius: 7px;
    color: white;
    font-weight:bold;
}
.block{
    box-shadow: 5px 5px 20px gray;
    border-radius: 5px;
    height: 50%;
}
#full-stak{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, lightsalmon);
    border-image-slice: 1;
}
#subject{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color:darkmagenta;
}
#exp{
    color:aqua;
}
section div ol{
    color:darkgreen;
}